.accordion {
  &__wrapper {
  }

  &__title {
  }

  &__label {
    padding: 0.8rem 1.2rem;
    border-radius: $radius;
    background-color: $blue;
    display: inline-block;
    color: $white;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }

  &__inner {
    padding: 1.6rem 0;
    text-align: left;
  }

  &__product {
    &__wrapper {
      display: flex;
      margin-bottom: 1.6rem;
      &:not(:last-child) {
        padding-bottom: 1.6rem;
        border-bottom: 1px solid $lightGrey;
      }
    }
    &__img {
      width: 10rem;
      height: 12rem;
      min-height: 12rem;
      background-color: $grey;
      margin-right: 2.4rem;
      overflow: hidden;

      img {
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__info {
      p {
        font-size: 1.6rem;
        color: $grey;
      }
    }
  }
}
