.form-main,
.form-order {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: $whiteTransparent;
  box-shadow: $boxShadowLight;
  border-radius: $radius;

  .StripeElement,
  input,
  textarea {
    background-color: $whiteTransparent;
    padding: 1.2rem 1.6rem;
    border-radius: $radius;
    border: none;
    box-shadow: $boxShadowDark;
    font-family: $fontP;
    font-size: 1.6rem;
    &:focus {
      outline: none;
      border: 2px solid $lightGrey;
    }
    &::placeholder {
      font-size: 1.6rem;
      color: $mediumGrey;
      font-family: $fontP;
    }
  }

  .StripeElement {
    color: $grey;
    margin-bottom: 1.6rem;
  }

  textarea {
    resize: none;
  }
  input#price {
    width: 15rem;
  }

  input[type='file'] {
    display: none;
  }

  .custom-file-input {
    cursor: pointer;
    width: 15rem;
    padding: 0.8rem;
    box-shadow: $boxShadowDark;
    background-color: $white;
    border-radius: $radius;
    color: $mediumGrey;
    font-size: 1.4rem;
    margin-top: 0;
  }

  label {
    font-size: 1.6rem;
    font-family: $fontP;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
  }

  button {
    margin-top: 1.6rem;
    display: inline-block;
    max-width: 20rem;
  }

  .img-prev {
    width: 10rem;
    img {
      width: 100%;
    }
  }
  .form-message-success,
  .form-message-error {
    padding: 2rem 3rem;
    background-color: $white;
    box-shadow: $boxShadowDark;
    text-align: center;
    border-radius: $radius;
  }
  .form-message-success {
    p {
      color: $green;
    }
  }
  .form-message-error {
    p {
      color: $red;
    }
  }
  .form-message-bottom {
    padding: 2.4rem 0;
    p {
      font-size: 1.6rem;
    }
    a {
      color: $blue;
      @media only screen and (max-width: $bp400) {
        display: block;
      }
    }
  }
}

.form-order {
  margin-top: 3.2rem;
  width: 70%;
  @media only screen and (max-width: $bp1150) {
    width: 90%;
  }
  @media only screen and (max-width: $bp850) {
    width: 100%;
  }
}

.form-main {
  width: 50%;
  @media only screen and (max-width: $bp1000) {
    width: 70%;
  }
  @media only screen and (max-width: $bp750) {
    width: 90%;
  }
  @media only screen and (max-width: $bp550) {
    width: 100%;
  }
}
