.cart {
  &__item {
    display: flex;
    margin-bottom: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $lightGrey;
    @media only screen and (max-width: $bp550) {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      width: 10rem;
      height: 13rem;
      background-color: $grey;
      margin-right: 1.6rem;
      overflow: hidden;

      @media only screen and (max-width: $bp550) {
        width: 18rem;
        height: 23rem;
        margin-bottom: 1.6rem;
        margin-right: 0;
      }

      img {
        height: 100%;
        min-width: 100%;
        object-fit: cover;
      }
    }
    &__info {
      h3 {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
      }
      p {
        font-size: 1.8rem;
      }
    }
    &__remove {
      margin-left: auto;
      @media only screen and (max-width: $bp550) {
        margin-left: 0;
      }
    }
  }
}
