.pagination {
  &__wrapper {
    display: flex;
    justify-content: center;

    button {
      padding: 0.8rem 1.2rem;
      margin-right: 1.6rem;
      font-size: 1.5rem;
      font-family: $fontP;
      color: $grey;
      border-radius: $radius;
      background-color: $lightGrey;
    }
  }
}
