.account {
  &__permissions {
    background-color: $whiteTransparent;
    box-shadow: $boxShadowLight;
    border-radius: $radius;
    padding: 1.6rem 0.8rem;
    color: $black;

    td {
      display: block;
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell;
        text-align: center;
      }
    }

    th {
      &:nth-child(2) {
        span {
          display: block;
        }
        &:after {
          display: none;
        }
      }
    }

    th,
    td {
      text-align: left;
      display: table-cell; // show the table as a normal table for tablet and desktop
      padding: 1em;
    }
  }
}
// .account {
//   &__permissions {
//     background-color: $whiteTransparent;
//     box-shadow: $boxShadowLight;
//     border-radius: $radius;
//     padding: 1.6rem 0.8rem;
//     color: $black;

//     td {
//       display: block; // display the table data as one block for mobile
//       word-wrap: break-word;
//       max-width: 7em;
//       &:first-child {
//         display: table-cell; // display the first one as a table cell (radio button) for mobile
//         text-align: center;
//       }
//     }

//     th {
//       display: none; // hide all the table header for mobile
//       padding: 1em;
//       &:first-child {
//         // show the first table header for mobile
//         display: table-cell;
//         text-align: center;
//       }
//       &:nth-child(2) {
//         // show the second table header but replace the content with the data-th from the markup for mobile
//         display: table-cell;
//         span {
//           display: none;
//         }
//         &:after {
//           content: attr(data-th);
//         }
//       }
//       @media (min-width: 500px) {
//         &:nth-child(2) {
//           // hide the data-th and show the normal header for tablet and desktop
//           span {
//             display: block;
//           }
//           &:after {
//             display: none;
//           }
//         }
//       }
//     }

//     th,
//     td {
//       text-align: left;
//       //   margin: 0.5em 1em;
//       @media (min-width: 500px) {
//         display: table-cell; // show the table as a normal table for tablet and desktop
//         padding: 1em;
//       }
//     }
//   }
// }
