.account {
  &__wrapper {
    width: 70%;
    min-height: 20vh;
    margin: 0 auto;
    padding: 3.2rem;
    background-color: $whiteTransparent;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp750) {
      width: 100%;
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $lightGrey;
    text-align: center;
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  }
  &__name {
    text-transform: capitalize;
  }
  &__orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.2rem;
    padding-bottom: 3.2rem;
    border-bottom: 1px solid $lightGrey;
    text-align: center;
  }
}
