.product {
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8rem;
    @media only screen and (max-width: $bp1150) {
      width: 100%;
    }
    @media only screen and (max-width: $bp750) {
      flex-direction: column;
    }
    @media only screen and (min-width: $bp1300) {
      width: 70%;
      margin: 0 auto;
    }
    &--left {
      width: 55%;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $bp1000) {
        align-items: flex-start;
      }
      @media only screen and (max-width: $bp750) {
        width: 100%;
      }
    }
    &--right {
      width: 44%;
      @media only screen and (max-width: $bp750) {
        width: 100%;
      }

      p {
        margin-bottom: 3.2rem;
        font-weight: 400;
        line-height: 162%;
      }
      form {
        display: flex;
        align-items: center;
        input {
          font-family: $fontP;
          font-weight: 500;
          text-align: center;
          width: 5rem;
          height: 4.5rem;
          background-color: $whiteTransparent;
          border: 1px solid $lightGrey;
          border-radius: 2px;
          margin-right: 1.6rem;
          transition: $transition;
          &:focus {
            transform: scale(1.2);
            outline: 2px solid $pink;
          }
        }
      }
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media only screen and (max-width: $bp400) {
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      // width: 60%;
      @media only screen and (max-width: $bp1000) {
        font-size: 4.8rem;
      }
      @media only screen and (max-width: $bp400) {
        width: 100%;
      }
    }
    p {
      font-family: $fontH;
      font-weight: 400;
      color: $grey;
      font-size: 4rem;
      margin-top: -3.6rem;
      @media only screen and (max-width: $bp400) {
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
      }
    }
  }
  &__img-wrapper {
    width: 90%;
    height: 45rem;
    background-color: transparent;
    @media only screen and (max-width: $bp750) {
      height: 32rem;
      margin-bottom: 3.2rem;
    }
    @media only screen and (max-width: $bp550) {
      width: 70%;
    }
    @media only screen and (max-width: $bp400) {
      width: 90%;
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $whiteTransparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    &--inner {
      padding: 5rem;
      background-color: $white;
      border-radius: 27px;
      box-shadow: $boxShadowLight;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__btns {
      margin-top: 3.2rem;
    }
  }
}
