@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&family=Roboto:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/monsteraBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: #1d1c28;
  line-height: 100%;
}

h1 {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

h2 {
  margin-bottom: 1.6rem;
}

ul {
  list-style: none;
}

p,
li,
span {
  font-size: 2rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #1d1c28;
}

@media only screen and (max-width: 34.375em) {
  p,
  li,
  span {
    font-size: 1.9rem;
  }
}

button {
  cursor: pointer;
  border: none;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button:disabled {
  opacity: 0.4;
  cursor: unset;
}

.btn-main {
  padding: 1.2rem 4rem;
  background-color: #f73365;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 27px;
  -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn-main:hover {
  background-color: #c1244c;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-main:focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media only screen and (max-width: 25em) {
  .btn-main {
    padding: 1.1rem 3.5rem;
  }
}

.btn-secondary {
  padding: 0.9rem 2.8rem;
  background-color: transparent;
  font-size: 2rem;
  color: #f73365;
  border: 2px solid #f73365;
  border-radius: 27px;
  -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.btn-secondary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-secondary:focus {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media only screen and (max-width: 25em) {
  .btn-secondary {
    padding: 0.7rem 2.8rem;
  }
}

.btn-delete,
.btn-cancel,
.btn-submit {
  padding: 0.9rem 2.8rem;
  color: #ffffff;
  border-radius: 27px;
  font-size: 1.6rem;
  margin: 0.8rem;
}

.btn-delete {
  background-color: #ff4800;
}

.btn-cancel {
  background-color: #1dc8c4;
}

.btn-submit {
  background-color: #aacc00;
}

.logo-main {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1d1c28;
  font-size: 2rem;
  letter-spacing: 0.06em;
}

.logo-main span {
  font-weight: 800;
}

.logo-main a {
  color: currentColor;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
  min-height: 100vh;
  padding-bottom: 8rem;
}

.container--inner {
  width: 90%;
  margin: 0 auto;
}

.active-link {
  color: #f73365 !important;
}

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
  border-radius: 27px;
}

@media only screen and (max-width: 62.5em) {
  .form-main {
    width: 70%;
  }
}

@media only screen and (max-width: 46.875em) {
  .form-main {
    width: 90%;
  }
}

@media only screen and (max-width: 34.375em) {
  .form-main {
    width: 100%;
  }
}

.form-main input,
.form-main textarea {
  padding: 0.8rem 1.2rem;
  border-radius: 27px;
  border: none;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-main input:focus,
.form-main textarea:focus {
  outline: none;
  border: 2px solid #e5e5e5;
}

.form-main input::-webkit-input-placeholder,
.form-main textarea::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #c8c5c5;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-main input:-ms-input-placeholder,
.form-main textarea:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #c8c5c5;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-main input::-ms-input-placeholder,
.form-main textarea::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #c8c5c5;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-main input::placeholder,
.form-main textarea::placeholder {
  font-size: 1.4rem;
  color: #c8c5c5;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-main textarea {
  resize: none;
}

.form-main input#price {
  width: 15rem;
}

.form-main input[type='file'] {
  display: none;
}

.form-main .custom-file-input {
  cursor: pointer;
  width: 15rem;
  padding: 0.8rem;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
  background-color: #ffffff;
  border-radius: 27px;
  color: #c8c5c5;
  font-size: 1.4rem;
  margin-top: 0;
}

.form-main label {
  font-size: 1.6rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
}

.form-main button {
  margin-top: 1.6rem;
  width: 12rem;
}

.form-main .img-prev {
  width: 10rem;
}

.form-main .img-prev img {
  width: 100%;
}

.form-main .form-message-success,
.form-main .form-message-error {
  padding: 2rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
  text-align: center;
  border-radius: 27px;
}

.form-main .form-message-success p {
  color: #aacc00;
}

.form-main .form-message-error p {
  color: #ff4800;
}

.form-main .form-message-bottom {
  padding: 2.4rem 0;
}

.form-main .form-message-bottom p {
  font-size: 1.6rem;
}

.form-main .form-message-bottom a {
  color: #1dc8c4;
}

@media only screen and (max-width: 25em) {
  .form-main .form-message-bottom a {
    display: block;
  }
}

.index__background {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-image: url("../images/monsteraBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: fixed;
}

@media only screen and (max-width: 53.125em) {
  .index__background {
    height: auto;
    position: relative;
  }
}

.index__container {
  width: 90%;
  height: 85%;
  background-color: white;
  z-index: 1;
  margin: 7.5vh auto 0 auto;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
  position: relative;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 53.125em) {
  .index__container {
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
  }
}

.index__container--inner {
  width: 90%;
  margin: 0 auto;
}

.index__topbar {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 81.25em) {
  .index__topbar {
    padding: 5.6rem 0;
  }
}

@media only screen and (max-width: 53.125em) {
  .index__topbar {
    padding: 3.2rem 0;
  }
}

@media only screen and (max-width: 34.375em) {
  .index__topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.index__topbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 25em) {
  .index__topbar ul {
    margin-top: 1.6rem;
  }
}

@media only screen and (max-width: 25em) {
  .index__topbar ul li {
    font-size: 2.2rem;
  }
}

.index__topbar ul li:not(:first-child) {
  margin-left: 3.2rem;
}

.index__topbar ul li a {
  color: #1d1c28;
  -webkit-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.index__topbar ul li a:hover {
  color: #f73365;
}

@media only screen and (max-width: 53.125em) {
  .index__cta {
    margin: 8rem 0;
  }
}

@media only screen and (max-width: 34.375em) {
  .index__cta {
    margin: 5.6rem 0;
  }
}

.index__cta h1 {
  font-size: 8.2rem;
}

@media only screen and (max-width: 53.125em) {
  .index__cta h1 {
    font-size: 5.6rem;
  }
}

.index__cta h2 {
  font-size: 3.2rem;
}

@media only screen and (max-width: 53.125em) {
  .index__cta h2 {
    width: 90%;
    line-height: 162%;
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 34.375em) {
  .index__cta h2 {
    font-size: 2.6rem;
  }
}

.index__cta p {
  color: #6f6f6f;
  font-size: 2.2rem;
  line-height: 162%;
  width: 40%;
  margin-bottom: 3.2rem;
}

@media only screen and (max-width: 53.125em) {
  .index__cta p {
    width: 90%;
  }
}

.index__address {
  position: absolute;
  bottom: 3.2rem;
  right: 5%;
}

.index__address p {
  color: #6f6f6f;
}

@media only screen and (max-width: 34.375em) {
  .index__address p {
    padding-left: 2rem;
    font-size: 1.7rem;
  }
}

.cart__heading {
  margin-bottom: 3.2rem;
}

.cart__heading h2 {
  font-size: 2.4rem;
  margin-top: -2rem;
}

.cart__container {
  min-width: 90%;
  min-height: 20rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 27px;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.35);
}

.cart__container--inner {
  width: 95%;
  height: 95%;
  margin: 0 auto;
  padding: 3.2rem 0;
}

.cart__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart__message {
  width: 80%;
  padding: 2.4rem 3.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 3.2rem auto;
  border-radius: 27px;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
}

.cart__message--success p {
  text-align: center;
  color: #aacc00;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 46.875em) {
  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__wrapper--left {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .product__wrapper--left {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 46.875em) {
  .product__wrapper--left {
    width: 100%;
  }
}

.product__wrapper--right {
  width: 40%;
}

@media only screen and (max-width: 46.875em) {
  .product__wrapper--right {
    width: 100%;
  }
}

.product__wrapper--right p {
  margin-bottom: 3.2rem;
  font-weight: 400;
  line-height: 162%;
}

.product__wrapper--right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__wrapper--right form input {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: center;
  width: 5rem;
  height: 4.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 1.6rem;
  -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.product__wrapper--right form input:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: 2px solid #f73365;
}

.product__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 25em) {
  .product__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.product__heading h1 {
  width: 60%;
}

@media only screen and (max-width: 62.5em) {
  .product__heading h1 {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 25em) {
  .product__heading h1 {
    width: 100%;
  }
}

.product__heading span {
  display: inline-block;
  width: 30%;
  color: #6f6f6f;
  font-size: 4rem;
}

@media only screen and (max-width: 25em) {
  .product__heading span {
    margin-top: -1.6rem;
    margin-bottom: 1.6rem;
    font-size: 3.2rem;
  }
}

.product__img-wrapper {
  width: 70%;
  height: 45rem;
  background-color: transparent;
}

@media only screen and (max-width: 46.875em) {
  .product__img-wrapper {
    width: 40%;
    height: 32rem;
    margin-bottom: 3.2rem;
  }
}

@media only screen and (max-width: 34.375em) {
  .product__img-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 25em) {
  .product__img-wrapper {
    width: 100%;
  }
}

.product__img-wrapper img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__modal--inner {
  padding: 5rem;
  background-color: #ffffff;
  border-radius: 27px;
  -webkit-box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
          box-shadow: 3px 20px 40px rgba(223, 213, 213, 0.2);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product__modal__btns {
  margin-top: 3.2rem;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #e5e5e5;
}

.cart__item__img {
  width: 10rem;
  height: 13rem;
  background-color: #6f6f6f;
  margin-right: 1.6rem;
  overflow: hidden;
}

.cart__item__img img {
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__item__info h3 {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.cart__item__info p {
  font-size: 1.8rem;
}

.cart__item__remove {
  margin-left: auto;
}

.topbar {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 81.25em) {
  .topbar {
    padding: 5.6rem 0;
  }
}

@media only screen and (max-width: 53.125em) {
  .topbar {
    padding: 3.2rem 0;
  }
}

@media only screen and (max-width: 46.875em) {
  .topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.topbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 25em) {
  .topbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 25em) {
  .topbar ul li {
    margin-top: 1.6rem;
  }
}

.topbar ul li:not(:first-child) {
  margin-left: 3.2rem;
}

@media only screen and (max-width: 25em) {
  .topbar ul li:not(:first-child) {
    margin-left: 0;
  }
}

.topbar ul li a {
  color: #1d1c28;
  -webkit-transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.topbar ul li a:hover {
  color: #f73365;
}

.store__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media only screen and (max-width: 71.875em) {
  .store__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 46.875em) {
  .store__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.store__card {
  cursor: pointer;
  width: 30rem;
  min-height: 45rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 192, 32, 0.12)), to(rgba(255, 255, 255, 0))), #ffffff;
  background: linear-gradient(180deg, rgba(97, 192, 32, 0.12) 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
  -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  margin-bottom: 3.2rem;
  -webkit-transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store__card:hover {
  -webkit-transform: translate(3px, 2px) scale(0.98);
          transform: translate(3px, 2px) scale(0.98);
}

@media only screen and (max-width: 25em) {
  .store__card {
    width: 27rem;
  }
}

@media only screen and (max-width: 20.625em) {
  .store__card {
    width: 25rem;
  }
}

.store__card__img-wrapper {
  width: 25rem;
  height: 33rem;
  background-color: #6f6f6f;
  overflow: hidden;
}

@media only screen and (max-width: 25em) {
  .store__card__img-wrapper {
    width: 20rem;
  }
}

.store__card__img-wrapper img {
  height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.store__card h2 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  margin: 1.6rem 0;
}

.store__card p {
  color: #6f6f6f;
  font-weight: 500;
}

.loading__wrapper {
  margin: 3.2rem auto;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #f73365;
  }
  25% {
    stroke: #1dc8c4;
  }
  50% {
    stroke: #aacc00;
  }
  75% {
    stroke: #ff4800;
  }
  100% {
    stroke: #f73365;
  }
}

@keyframes colors {
  0% {
    stroke: #f73365;
  }
  25% {
    stroke: #1dc8c4;
  }
  50% {
    stroke: #aacc00;
  }
  75% {
    stroke: #ff4800;
  }
  100% {
    stroke: #f73365;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
/*# sourceMappingURL=styles.css.map */