@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10/16 = 62.5%
  @media only screen and (min-width: $bp1800) {
    font-size: 75%;
  }
}
.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

body {
  box-sizing: border-box;
  background-image: url('../images/monsteraBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media only screen and (max-width: $bp1000) {
    background-image: url('../images/monsteraBgTablet.jpg');
  }
  @media only screen and (max-width: $bp750) {
    background-image: url('../images/monsteraBgMobile.jpg');
  }
}

h1,
h2,
h3,
h4 {
  font-family: $fontH;
  font-weight: 600;
  color: $black;
  line-height: 100%;
}

h1 {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  @media only screen and (max-width: $bp750) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0.8rem;
  line-height: 162%;
}

p,
li,
span {
  font-size: 2rem;
  font-family: $fontP;
  font-weight: 500;
  color: $black;
  @media only screen and (max-width: $bp550) {
    font-size: 1.9rem;
  }
}

span {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: $fontP;
  &:disabled {
    opacity: 0.4;
    cursor: unset;
  }
}

.btn-main {
  padding: 1.2rem 4rem;
  background-color: $pink;
  font-size: 2rem;
  color: $white;
  border-radius: $radius;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  &:hover {
    background-color: $pinkHover;
    transform: scale(1.05);
  }
  &:focus {
    transform: scale(1.02);
  }

  @media only screen and (max-width: $bp400) {
    padding: 1.1rem 3.5rem;
  }
}

.btn-secondary {
  padding: 0.9rem 2.8rem;
  background-color: transparent;
  font-size: 2rem;
  color: $pink;
  border: 2px solid $pink;
  border-radius: $radius;
  transition: $transition;

  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    transform: scale(1.02);
  }
  @media only screen and (max-width: $bp400) {
    padding: 0.7rem 2.8rem;
  }
}

.btn-delete,
.btn-cancel,
.btn-submit {
  padding: 0.9rem 2.8rem;
  color: $white;
  border-radius: $radius;
  font-size: 1.6rem;
  margin: 0.8rem;
}
.btn-delete {
  background-color: $red;
}
.btn-cancel {
  background-color: $blue;
}
.btn-submit {
  background-color: $green;
}

.logo-main {
  font-family: $fontH;
  color: $black;
  font-size: 2rem;
  letter-spacing: 0.06em;
  span {
    font-weight: 800;
  }
  a {
    color: currentColor;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: $whiteTransparent;
  box-shadow: $boxShadowLight;
  min-height: 100vh;
  padding-bottom: 8rem;

  &--inner {
    width: 90%;
    margin: 0 auto;
  }
}

.link-basic {
  color: $blue;
}

.link-active {
  color: $pink !important;
}
