.product {
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4rem;
    @media only screen and (max-width: $bp1150) {
      width: 100%;
      grid-gap: 2.4rem;
    }
    @media only screen and (max-width: $bp750) {
      grid-template-columns: 1fr;
      margin-bottom: 3.2rem;
    }
    @media only screen and (min-width: $bp1300) {
      width: 70%;
      grid-gap: 0;
    }

    &--top {
      grid-column: 1 / span 2;
      @media only screen and (max-width: $bp750) {
        grid-column: 1 / span 1;
      }
    }
    &--left {
    }
    &--right {
      p {
        margin-bottom: 3.2rem;
        font-weight: 400;
        line-height: 162%;
      }
      form {
        display: flex;
        align-items: center;
        input {
          font-family: $fontP;
          font-weight: 500;
          text-align: center;
          width: 5rem;
          height: 4.5rem;
          background-color: $whiteTransparent;
          border: 1px solid $lightGrey;
          border-radius: 2px;
          margin-right: 1.6rem;
          transition: $transition;
          &:focus {
            transform: scale(1.2);
            outline: 2px solid $pink;
          }
        }
      }
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media only screen and (max-width: $bp400) {
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      @media only screen and (max-width: $bp400) {
        font-size: 4rem;
      }
    }
    p {
      font-family: $fontH;
      font-weight: 400;
      color: $grey;
      font-size: 4rem;
      @media only screen and (max-width: $bp400) {
        margin-bottom: 1.6rem;
        font-size: 3.2rem;
      }
    }
  }
  &__img-wrapper {
    width: 30rem;
    height: 45rem;
    background-color: transparent;
    @media only screen and (max-width: $bp750) {
      height: 32rem;
      width: 100%;
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn-back {
    margin-top: 3.2rem;
    float: right;
  }
}
