@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&family=Roboto:wght@400;500;700&display=swap');

// colors
$white: #ffffff;
$whiteTransparent: rgba(255, 255, 255, 0.8);
$black: #1d1c28;
$grey: #6f6f6f;
$mediumGrey: #c8c5c5;
$lightGrey: #e5e5e5;
$pink: #f73365;
$pinkHover: #c1244c;
$red: #ff4800;
$blue: #1dc8c4;
$green: #aacc00;

// shadows
$boxShadowDark: 3px 20px 40px rgba(223, 213, 213, 0.35);
$boxShadowLight: 3px 20px 40px rgba(223, 213, 213, 0.2);
$boxShadowLighter: 0px 4px 34px rgba(0, 0, 0, 0.05);

// border-radius
$radius: 27px;

// transition
$transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

// fonts
$fontH: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontP: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// breakpoints
$bp1800: 112.5em;
$bp1550: 96.875em;
$bp1300: 81.25em;
$bp1150: 71.875em;
$bp1000: 64.0625em; // 1025px
$bp850: 53.125em;
$bp750: 46.875em;
$bp550: 34.375em;
$bp400: 25em;
$bp330: 20.625em;
